.contact-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
/* Common styles for navigation buttons */
.nav-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue background */
    color: white; 
    text-decoration: none; /* Remove underline */
    border-radius: 5px; 
}

.nav-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px; 
    border-radius: 5px; 
    border: none; 
    background-color: #007bff; /* Blue background */
    color: white; 
    cursor: pointer; 
}

button:hover { 
   background-color: #0056b3; /* Darker blue on hover */
}

.error-message {
   color: red;
   text-align: center;
}

.contact-info {
   margin-top: 20px;
   text-align: center;
}